@media (max-width: 375px) {

    .leagues-content p {
        font-size: 0.8rem;
    }

    .our-player-img img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 750px) {

    .result-top-left-content {
        width: 100%;
        text-align: center;
    }

    .match {
        padding: 10px;

    }

    .match-score-mid>h1 {
        font-size: 1.9rem;
    }

    .match-score h2 {
        font-size: 1rem;
    }

    .spirit-football-content {
        width: 100%;
        margin: 0px;
        text-align: center;
    }

    .leagues-content {
        text-align: center;
    }

    .spirit-football-content h1 {
        font-size: 1.7rem;
    }

    .our-team {
        height: 45vw;
    }

    .our-team h1 {
        font-size: 1.9rem;
    }

    .spirit-football-img2 {
        width: 43vw;
    }

    .spirit-football-img3 {
        width: 43vw;
    }

    .leagues-content h1 {
        font-size: 1.7rem;
    }

    .leagues {
        justify-content: center;
    }

    .tournament {
        padding: 0px;
    }

    .leagues-content p {
        width: 100%;
    }

    .upcoming-match-team {
        width: 70vw;
        padding: 7vw;
    }

    .upcoming-score-mid p {
        font-size: 1.6vw;
    }

    .upcoming-score-mid h1 {
        font-size: 9vw;
    }

    .upcoming-match-score h2 {
        font-size: 3.4vw;
    }

    .upcoming-match-score img {
        width: 12vw;
    }

    .our-gallery-content h1 {
        font-size: 7vw;
        margin-bottom: 4vw;
    }

    .our-gallery {
        padding-top: 8vw;
    }

    .our-gallery-content h4 {
        font-size: 2.1vw;
    }

    .championship-league {
        justify-content: center;
    }

    .keep-update-img1 {
        width: 100%;
    }

    .keep-update-img2 {
        margin: 0px;
        width: 100%;
    }

    .keep-update h1 {
        font-size: 1.7rem;
    }

    .keep-update {
        text-align: center;
    }

    .keep-update button {
        display: inline;
    }

    .footer-content {
        justify-content: space-between;
    }

    .email {
        text-align: center;
    }

}

@media (max-width: 900px) {
    .soccas-content h4 {
        font-size: 2vw;
    }

    .soccas-content button {
        padding: 1.3vw 2.9vw;
        font-size: 1.7vw;

    }

    .nav-logo h1 {
        font-size: 3vw;
    }

    .nav-logo span {
        font-size: 5vw;
    }

    .nav-logo i {
        font-size: 4.4vw;
    }

    .hamburger i {
        font-size: 4vw;
    }
}

@media (max-width: 1230px) {
    .nav-item {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .top-nav-content {
        justify-content: space-between;
    }

    .nav-logo h1 {
        margin-bottom: 0px;
    }

    .top-nav {
        padding: 0px;
    }

    .fairplay {
        height: 60vw;
    }

    .soccas-content h1 {
        font-size: 6.2vw;
    }
}