@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Poppins&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.top-contactus {
    background-color: hsl(0, 0%, 0%);
    width: 100%;
    height: auto;
    padding: 10px 0px;
    margin: 0px;
}

.top-mailto {
    display: flex;
    align-items: center;
}

.top-mailto i {
    color: #ffffff;
    font-weight: 500;

}

.top-mailto p {
    color: #ffffffeb;
    font-size: 0.8rem;
    margin: 0px 7px;
}

.socialmedia-icon i {
    color: #ffffff;
    font-size: 1.1rem;
    margin: 0px 10px;

}

.contactus-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: none;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-btn {
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    letter-spacing: 1.1px;
}

.dropdown-btn i {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-item:hover {
    background-color: #c70101;
}

.nav-item {
    display: flex;
    column-gap: 20px;
}

.nav-logo h1 {
    font-size: 1.7rem;
    color: #f42800;
    font-family: "Boldonse", system-ui;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: -53px;
    word-spacing: -5px;
    display: flex;
    align-items: center;
}

.nav-logo span {
    font-size: 2.7rem;
    color: rgb(255, 255, 255);
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.nav-logo i {
    color: #ffffff;
    font-size: 2.7rem;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.top-nav {
    background-color: #c70101;
    padding: 15px 0px;
}

.top-nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fairplay {
    background-image: url(/images/first\ banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 293px 450px #0000008c;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.soccas-content h4 {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 1.5rem;
    letter-spacing: 1.4px;
}

.soccas-content h1 {
    color: #ffffff;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 4.4rem;
}

.soccas-content span {
    color: #c70101;
}

.soccas-content button {
    padding: 11px 25px;
    background-color: #c70101;
    border: 1px solid #c70101;
    color: #ffffff;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
}

.result-top-left-content {
    width: 36%;
}

.result-top-left-content p {
    color: #c70101;
    text-transform: capitalize;
}

.result-top-left-content h1 {
    color: black;
    text-transform: capitalize;
    font-weight: 600;
}

.result-top-left-content button {
    padding: 11px 25px;
    background-color: #c70101;
    border: 1px solid #c70101;
    color: #ffffffce;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 1px;
    margin: 20px 0px;
}

.result-and-match {
    background-color: #f9f9f9;
    padding: 30px;
    width: 100%;
    height: 100%;
}

.match-score h2 {
    color: #c70101;
    font-weight: 600;
    margin: 0px;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.match-score h2 {
    color: #c70101;
    font-weight: 600;
    margin: 7px 0px;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.match {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 441px;
    padding: 28px;
    margin: 10px;
    background: linear-gradient(126deg, #ffffff 51%, #d3d3d3 51%);
    box-shadow: 0px 0px 30px -6px hsl(0, 0%, 0%);
}

.match-score-mid>h1 {
    font-size: 2.9rem;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.hambtn {
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    letter-spacing: 1.1px;
    margin: 10px 0px;
}

.card-body {
    background-color: #c70101;
}

.hamburger p {
    margin: 0px;
}

.hamburger {
    display: none;
}

.hamburger i {
    font-size: 3rem;
    color: #ffffff;
}

.spirit-football-content {
    width: 430px;
    margin: 20px;
}

.spirit-football-content h5 {
    color: #c70101;
    font-size: 1.1rem;
    font-weight: 100;
    text-transform: capitalize;
    margin: 10px 0px;
}

.spirit-football-content h1 {
    color: #000000;
    font-size: 2.7rem;
    font-weight: bolder;
    margin: 10px 0px;
    text-transform: capitalize;
}

.spirit-football-content p {
    font-size: 0.9rem;
    color: #000000b4;
    word-spacing: 1px;
    margin: 10px 0px;
}

.spirit-football-content button {
    padding: 11px 25px;
    background-color: #c70101;
    border: 1px solid #c70101;
    color: #ffffff;
    margin: 20px 0px;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
}

.spirit-football-img {
    width: 530px;
    height: 100%;
}

.spirit-football {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.spirit-football-img1 {
    width: 100%;
    margin: 10px 0px;
}

.spirit-football-img2 {
    width: 49%;
    margin-right: 3px;
}

.spirit-football-img3 {
    width: 49%;
    margin-left: 3px;
}

.join-team {
    width: 100%;
    height: 400px;
    background-image: url(/images/3rd\ banner\ img4.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 293px 450px #000000a1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.our-team p {
    color: #ffffff;
    font-size: 1rem;
    text-transform: capitalize;
}

.our-team h1 {
    color: #ffffff;
    font-size: 2.4rem;
    font-weight: 700;
    margin: 8px 0px;
    text-transform: capitalize;
}

.our-team span {
    color: #c70101;
}

.our-team button {
    padding: 9px 25px;
    background-color: #c70101;
    border: 1px solid #c70101;
    color: #ffffff;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.tournament {
    width: 100%;
    padding: 48px 0px;
    background: linear-gradient(128deg, #c70101 62%, #b80000 52%);
}

.leagues-content h5 {
    color: #ffffff;
    font-weight: 0px;
    font-size: 0.9rem;
    margin: 10px 0px;
}

.leagues-content h1 {
    color: #ffffff;
    font-size: 3.1rem;
    font-weight: bolder;
    margin: 10px 0px;
}

.leagues-content p {
    color: #ffffffe6;
    margin: 15px 0px;
    font-size: 0.9rem;
    width: 645px;
}

.leagues-content-btn button {
    padding: 11px 25px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #c70101;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.leagues {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 260px;
    padding: 40px;
}

.leagues-1 {
    width: 335px;
    background-color: #ffffff;
    text-align: center;
    padding: 35px 0px;
    margin: 10px;
}

.leagues-1 h4 {
    color: hsl(0, 0%, 0%);
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: capitalize;
}

.leagues-1 p,
a {
    color: #c70101ad;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin: 10px 0px;
    text-transform: uppercase;
}

.leagues-1 i {
    font-size: 2rem;
    color: #c70101;
}

.our-leagues {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.upcoming-match {
    display: flex;
    justify-content: center;
}

.upcoming-match-content h1 {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 2.7rem;
    text-align: center;
    font-weight: bolder;
    margin: 20px 0px;
}

.matches {
    width: 100%;
    background-image: url(/images/footballstadium.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 293px 450px #000000ae;
    padding: 20px;
}
.upcoming-match-team{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 540px;
    padding: 40px;
    margin: 10px;
    background: linear-gradient(126deg, #ffffff 51%, #d3d3d3 51%);
    box-shadow: 0px 0px 30px -6px hsl(0, 0%, 0%);
}
.upcoming-score-mid h1 {
    font-size: 3.9rem;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.upcoming-score-mid p{
    font-size: 0.8rem;
    margin: 5px 0px;
    color: #c70101;
    text-transform: capitalize;
}
.upcoming-match-score h2 {
    color: #c70101;
    font-weight: 600;
    margin: 7px 0px;
    font-size: 1.6rem;
    text-transform: capitalize;
}
.upcoming-match-score img {
    width: 90px;
    height: auto;
}
.our-gallery {
    background: linear-gradient(128deg, #c70101 62%, #b80000 52%);
    width: 100%;
    padding-top: 6rem;
}
.our-gallery-content h4 {
    text-align: center;
    color: #ffffffe0;
    font-size: 0.9rem;
    text-transform: capitalize;
}
.our-gallery-content h1 {
    text-align: center;
    color: #ffffff;
    font-size: 3.1rem;
    font-weight: bolder;
    text-transform: capitalize;
    margin-bottom: 3rem;
}
.our-gallery-content img {
    width: 100%;
}